<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>中美军人对比</title>
    <link rel="stylesheet" href="static/ys.css" >
	<style type="text/css">
	 h4 {background-color: #CAE1FF }
	 h3 {background-color: #CAE1FF }
	 .float
	 {
	 float: right;
	 margin: 17px;}
	 .aii
	 {
	     width: 300px;
	     border: 50px double skyblue;
	     padding: 25px;
	     margin: 25px;
		 overflow: scroll;}
	}
	 </style>
</head>
<body>
	
<div class="nav">
            <ul>
                <li><a href="/">世界军费情况</a></li>
                <li><a href="/zd_jf">高低收入军费占比</a></li>
                <li><a href="/zm_jr">中美军人对比</a></li>
                <li><a href="/zm_jf">中美军费对比</a></li>
            </ul>
        </div>
<div class="aii" style="width: 90%;">
<div style="width: 100%;">
{{ the_plot_all|safe }}
</div>
<h3>近年来，中美摩擦不断，尤其是川普上台后，中美之间地关系越发紧张，采取某些左派网友的观点，此次故事就将美国作为中国的假想敌，单以军费多寡以及武装人员人数问题，来推测双方交战胜率。</h3>
<h3>首先这是中美双方武装人员的人数以及武装人员占劳动力比重图。可以看到，在1998年，中国的武装人员数量是远远大于美国的，尽管中国武装人员占劳动力比重同样远远小于美国，长期以来仅仅是美国的二分之一、甚至是三分之一。但是由于中国人口基数大，中国的武装人数仍然远超美国。</h3>
<h3>然而随着进入千禧年，尤其是在2007年这一年，中国武装人员数量减少了近百万，而美国长期以来的武装数量则一直保持在一百五十万左右，但同样有所降低。</h3>

{{ the_res|safe }}
</div>
</body>
</html>